@'
# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.suo
*.rsuser
*.psess
*.vsp
*.vspx
*.coverage
*.coveragexml

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.dylib

# Virtual environments
env/
.venv/
ENV/
venv/
venv*/

# Project outputs
out/
out/**
*.mp4
*.mov
*.avi
*.mkv

# OS/editor
Thumbs.db
.DS_Store
'@ | Set-Content -Encoding utf8 .gitignore
/preset.json
/yolov8n.pt
/output
/yolov8n-face.pt
/preset_face_strict.json
/preset_face_balanced.json
/yolov8x.pt
/yolov8x.pt.bad
/arcface_r100.onnx
/last_run.log
/TensorrtExecutionProvider_TRTKernel_graph_torch-jit-export_15922919443950522839_0_0.onnx
/TensorrtExecutionProvider_TRT_Subgraph.onnx
